# El archivo .env contiene información sensible como credenciales de la base de datos
# y no debe subirse al repositorio para evitar riesgos de seguridad.
.env

# No subo el guión del proyecto final
Proyecto final 24-25 .docx.pdf
/vendor/
